version: "3.9"
services:
  code_base:
    build: .
    image: marcusgrum/codebase_ai_core_for_image_classification_aarch64
    volumes:
       - ai_system:/tmp
    command:
    - sh
    - "-c"
    - |
      rm -rf /tmp/codeBase/ && cp -r /codeBase/ /tmp/;
      python3 /tmp/codeBase/apply_knnSolution.py;
volumes:
  ai_system:
    external: true